@import "../../scss/colors";
@import "../../scss/const-width";

.reviews {
  position: relative;
}

.reviews__btn {
  max-width: 100%;
  @media (min-width: $desktop-width) {
    position: absolute;
    right: 0;
    top: 0;
  }
}
