@import "../../scss/colors";

.characteristics {
}

.characteristics-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  max-width: 567px;
}

.characteristics-list__item {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  justify-content: space-between;

  font-size: 16px;
  line-height: 21px;
  font-weight: 400;

  padding-top: 20px;
  padding-bottom: 8px;
  border-bottom: 1px rgba($color-service--lighten, 0.4) solid;
}

.characteristics-list__value {
  color: $color-service;
}