@import "../../scss/colors";
@import "../../scss/const-width";

.secondary-nav {
  @include flex-row-center;

  min-height: 82px;

  @media (max-width: $mobile-width-only) {
    flex-direction: column;
    align-items: center;
  }
}

.secondary-nav__item {
  padding: 6px 2px;
  margin-left: 62px;

  &:first-child {
    margin-left: 0;
  }

  @media (max-width: $mobile-width-only) {
    margin-left: 0;
  }
}

.secondary-nav__link {
  @include menu-link;
}
