@import "colors";

body {
  min-width: 320px;
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  color: $color-service--light;
  background-color: $color-background;
}

main,
article,
section {
  display: block;
}

*,
*::before,
*::after {
  font-family: "Open Sans", "Arial", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper {
  max-width: 1222px;
  min-width: 320px;
  position: relative;
  margin: 0 auto;
  padding: 0 26px;
}

.rotate180 {
  transform: rotate(180deg);
}
