@import "../../scss/colors";
@import "../../scss/const-width";

.slider {
  display: inline-block;
  padding: 14px 0;
}

.slider__nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-grow: 1;
  justify-content: space-between;
  align-items: center;
  padding: 36px 0;

  @media (max-width: $mobile-width-only) {
    display: none;
  }
}

.slider__main-img {
  position: relative;

  &::after {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    width: 122px;
    height: 30px;
    background-image: url('new.svg');
    background-position: 0 0;
    z-index: 20;
  }
}
